<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register - iSPACE Competition</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/ispce-icon.ico" rel="icon">
    <link href="../assets/img/ispce-icon.ico" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    
   <!-- font awesome -->
   <script src="https://kit.fontawesome.com/1bf45af5b5.js" crossorigin="anonymous"></script>
    <style>
        *{
            margin: 0 auto;
        }
    </style>
    </head>

    <body>
        
        <main>
            <section class="vh-100">
                <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    
                    
                    <!-- Pills content -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

                        <form method="post" action="/api/user/register">
                           
                            <!-- 2 column grid layout -->
                            <div class="row mb-4">
                                <div class="col-md-12">
								<h1>Registration successful!</h1>
								<h6>You have successfully registered</h6>
                                </div>
                            </div>
                    
                           
                            <!-- Register buttons -->
                            <div class="text-center">
                            <p><a href="./login">Click here to Sign in</a></p>
                            </div>
                        </form>
                        </div>
                    </div>
                    <!-- Pills content -->
                    </div>
                </div>
                </div>
                </div>
            </section>
        </main>
    </body>
</html>    