<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About - iSPACE Competition</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/ispce-icon.ico" rel="icon">
  <link href="assets/img/ispce-icon.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> 

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  
   <!-- font awesome -->
   <script src="https://kit.fontawesome.com/1bf45af5b5.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo me-auto"><a href="index">Ispace</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index" class="logo me-auto"><img src="assets/img/ispace-logo (2).png" alt="Ispace" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a  href="index">Home</a></li>
          <li><a href="about">About</a></li>
          <li class="dropdown"><a href="./events"><span class="active">Competition <i class="bi bi-chevron-down"></i></a>
            <ul class="drop">
              <li><a href="./inter-school" class="drop"><span class="drop">Inter-school Competitions</span></a></li>
              <li><a href="./intra-school" class="drop"><span class="drop">Intra-school Competitions</span></a></li>
              <li><a href="./virtual" class="drop"><span class="drop">Virtual Competitions</span></a></li>

              <!-- <li class="dropdown"><a href="#"><span class="drop">Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#"><span class="drop"> Deep Drop Down 1</span></a></li>
                  <li><a href="#"><span class="drop"> Deep Drop Down 2</span></a></li>
                </ul> -->
              </li>
            </ul>
          </li>
          <!-- <li><a href="events">Competitions</a></li>
          <li><a href="events">Events</a></li> -->

      
          <li><a href="contact">Contact</a></li>
          <li><a href="#FAQs">FAQs</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      
      </nav><!-- .navbar -->
      <a href="login" class="get-started-btn">Login</a>
      <a href="./register" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->


  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Virtual competition</h2>
        <p>
         It’s that time of year again! iSPACE has decided to run a
         fun and exciting competition during this week. We aim to raise awareness for coding education by
         organizing coding competitions for all grade levels across
         the World. Take part in this enjoyable and award- winning adventure. 
        </p>
        <p><strong>Competition Date Is 1st December 2023-December 15th, 2023 @ 11:59am</strong></p>

        <p></p>
          
          <p></p>
          
          <P></P>
          
         <P> 
           </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="./assets/img/20220518_110858.jpg" class="img-fluid about-img" alt="Kids coding">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-up" data-aos="zoom-in" data-aos-delay="100">

           <div data-aos="zoom-in" data-aos-delay="150">
                  <h3>Competition Categories:</h3>
                  <!-- <p class="fst-italic">
                  
                  </p> -->
                  <ul  class="fst-italic">
                    <li><i class="bi bi-check-circle"></i>Animation Challenge </li>
                    <li><i class="bi bi-check-circle"></i>Game Design Challenge</li>
                    <li><i class="bi bi-check-circle"></i>Graphics Design Challenge </li>
                    <li><i class="bi bi-check-circle"></i> 3D Design Challenge</li>
                    <li><i class="bi bi-check-circle"></i> Mobile App Development</li>
                  </ul>
      
           </div>
           <div data-aos="zoom-in" data-aos-delay="150">
                     <h3>Why Participate?</h3>
                 <ul class="fst-italic">
                    <li><strong><i class="bi bi-check-circle"></i>Skills:</strong>  Hone your coding and design abilities in a challenging yet fun environment. </li>
                    <li><strong><i class="bi bi-check-circle"></i>Creative Expression:</strong> Showcase your design prowess in the Design Sprint category.</li>
                    <li><strong><i class="bi bi-check-circle"></i>Networking:</strong> Connect with like-minded students and professionals in the tech and design fields.</li>
                    <li><strong><i class="bi bi-check-circle"></i>Prizes:</strong> Stand a chance to win exciting prizes and recognition for your achievements.
                    </li>
                 </ul>
           </div>
           <div data-aos="zoom-in" data-aos-delay="150">
                   <h3>Rules And Details</h3>
                  
                      <p>The competition will be held online throughout the  World (Primary/Upper Elementary & Secondary/Middle School & High School) during the November 27, 2023- 15th December, 2023.</p>
                    <p>Challenges will be different for each level
                              (Primary/Upper Elementary & Secondary/Middle
                              School) and suitable for the relevant level.</p> 
                    <p> Challenges will consist of Basic coding knowledge,
                              Repeat loops, Variables and Arrays. </p> 
                  <ul>
                    <li><i class="bi bi-check-circle"></i> Awards will be given separately for each category
                              (Primary/Upper Elementary & Secondary/Middle
                              School).</li>
                    <li><i class="bi bi-check-circle"></i> The project that collects the most stars by
                              completing will be the winner. </li> 
                 
                    <li><i class="bi bi-check-circle"></i> In the event of equality for code efficiency and the
                              number of stars, time will be taken into account. In
                              this case, the student that finishes in the shortest
                              amount of time will be the winner. </li>
                   </ul>
            </div>
            <div data-aos="zoom-in" data-aos-delay="150">
                   <h3>Guidelines</h3>
                   <ul>
                      <li><i class="bi bi-check-circle"></i> Entry must include a block-based project for Primary
                      and Middle grade, and a text-based or block-based
                      project for Secondary Students to qualify).</li>
                      <li><i class="bi bi-check-circle"></i> Each entry must include a clear photograph of the
                      participant.</li>
                      <li><i class="bi bi-check-circle"></i> Only one submission is allowed per entrant.</li>
                      <li><i class="bi bi-check-circle"></i> Each entry must provide parent/guardian or teacher
                      consent and contact information (if under 18 years
                      old). </li>
                   </ul>
           </div>

           <div data-aos="zoom-in" data-aos-delay="150">
              <h3>Registration Process:</h3>
              <ol>
                <li>Visit our registration portal at<a href="www.proxynetedu.competitons.com">proxynetedu.competitons.com</a></li>
                <li>Complete the registration form with your details.</li>
                <li>Receive confirmation and access details for the virtual competition.</li>
              </ol>
          </div>

          <div data-aos="zoom-in" data-aos-delay="150">
              <h3>Important Dates:</h3>
              <p><strong> Registration Deadline:</strong> The deadline for registration will be on the <strong> 10th of December</strong>.</p>
          </div>

           <div data-aos="zoom-in" data-aos-delay="150">
                <h3>What to Submit</h3>
                  <p>  All participants must first register
                  at<a href="www.proxynetedu.competitons.com">proxynetedu.competitons.com</a>, A complete entry must include:
                  <br>
                  a working link to view the project, video,
                  and code
                  a clear photo of yourself
                  Write-up answering the questions: 
                  </p>
                  <ol type="1">
                  <li>What was the inspiration behind your
                           entry?</li> 
                  <li> What was most challenging from a coding perspective in creating your project?</li>
                  <li>What did you find most rewarding?</li>
                  </ol>  
           </div>    

         </div>   
        </div>

        <section id="popular-courses" class="courses">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>virtual Competitions</h2>
              <p>Open Competitions</p>
            </div>
    
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
<!--     
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                  <img src="assets/img/robot-car-gif.gif" class="img-fluid competi" alt="Moving two wheel Robot car">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>RoboSpace</h4>
                    </div>
    
                    <h3><a href="Competitions-details">Robotics</a></h3>
                    <p>In this competitions the student are given a particular project to build then upload the videos, The student with the best get to be awarded </p>
                  </div>
                  <div class="text-center competi-learn1 ">
                    <a href="./competitions-details" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div> End Course Item -->
    
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                  <img src="assets/img/game-dev2.gif" class="img-fluid competi" alt="A shooting game between crab and octopus">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>iSPACE</h4>
                    </div>
    
                    <h3><a href="./coding-details">Coding</a></h3>
                    <p>In this competitions the student are given a particular project to code in aspecific time range then upload the videos and the file, The student with the best get to be awarded </p>
                  </div>
                  <div class="text-center competi-learn">
                    <a href="./coding-details" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div> <!-- End Course Item-->
    
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="course-item">
                  <img src="assets/img/compti5.jpg" class="img-fluid competi" alt="..." >
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>iDESIGN</h4>
                    </div>
    
                    <h3><a href="./design-details">Graphic Design</a></h3>
                    <p>In this competitions the student are given a particular project to design and then upload the videos of them doing it and their design, The student with the best get to be awarded </p>
                  </div>
                  <div class="text-center competi-learn">
                    <a href="./design-details" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div> <!-- End Course Item-->
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                  <img src="assets/img/app-flutter1 development.gif" class="img-fluid competi" alt="A shooting game between crab and octopus">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>iSPACE</h4>
                    </div>
    
                    <h3><a href="./mobile-details">Mobile-App Development</a></h3>
                    <p>In this competitions, The student are to code/make a particular App  in aspecific time range then upload the APP and the file, The student with the best get to be awarded </p>
                  </div>
                  <div class="text-center competi-learn">
                    <a href="./app-details" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div> <!-- End Course Item-->
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                  <img src="assets/img/3d image new.jpg" class="img-fluid competi" alt="A shooting game between crab and octopus">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>iDESIGN</h4>
                    </div>
    
                    <h3><a href="./design-details">3D Design</a></h3>
                    <p>In this competitions the student are to create a 3D design project in aspecific time range then upload the videos and the pictures of the design, The student with the best get to be awarded </p>
                  </div>
                  <div class="text-center competi-learn">
                    <a href="./design-details" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div> <!-- End Course Item-->
    
            </div>
    
          </div>
        </section><!-- End Popular Courses Section -->


        <div class="breadcrumbs crumbs " data-aos="zoom-in" data-aos-delay="100">
         <div class="container">
           <h2>Awards</h2>
           <p>At iSPACE, we believe in recognizing and celebrating the exceptional talents displayed by young minds in the field of coding. Our virtual competition is not just a platform for learning; it's a stage where creativity, innovations and techni prowess are celebrated. We take immense pride in honoring participants who have demonstrated outstanding skills through our awards program.</p>
         </div>
       </div><!-- End Breadcrumbs -->
   
       <!-- ======= Trainers Section ======= -->
       <section id="trainers" class="trainers">
         <div class="container" data-aos="fade-up">
   
           <div class="awards-medal" id="primary">
             <div class="row" data-aos="zoom-in" data-aos-delay="100" >
               <h2 class="award-type ">Primary / Upper Elementary</h2>
               <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                 <div class="member">
                   <img src="./assets/img/awards/Primary1.png" class="img-fluid award-img" alt="Gold medal">
                   <div class="member-content">
                     <h4> 1st Position</h4>
                     <!-- <span> (1st position)</span> -->
                     <p>
                       One Month Study Scholarship for two courses
                       30% off items on our online store: promallshop.com 
                       Certificate
                       Project Published on all Social media and websites
                     </p>
                   </div>
                 </div>
               </div>
     
               <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                 <div class="member">
                   <img src="./assets/img/awards/primary2.png" class="img-fluid award-img" alt="silver medal">
                   <div class="member-content">
                     <h4>2nd Position</h4>
                     <!-- <span>(2nd position)</span> -->
                     <p>
                       One Month Study Scholarship for one course
                       25% off items on our online store: promallshop.com 
                       Certificate
                       Project Published on all Social media and websites
                     </p>
                   </div>
                 </div>
               </div>
     
               <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                 <div class="member">
                   <img src="./assets/img/awards/primary3.png" class="img-fluid award-img" alt="bronze medal">
                   <div class="member-content">
                     <h4>3rd Position</h4>
                     <!-- <span>(3rd position)</span> -->
                     <p>         
                       Two weeks  Study Scholarship for one course
                       20% off items on our online store: promallshop.com 
                       Certificate
                       Project Published on all Social media and websites.
                     </p>
                   </div>
                 </div>
               </div>
     
             </div>
     
             <div  id="secondary" class="awards-medal">
               <div class="row" data-aos="zoom-in" data-aos-delay="100" >
                 <h2 class="award-type">Secondary / Middle School</h2>
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                   <div class="member">
                     <img src="./assets/img/awards/secondary1.png" class="img-fluid award-img" alt="Gold medal">
                     <div class="member-content">
                       <h4>  1st Position</h4>
                       <!-- <span>  ()</span> -->
                       <p>
                         One Month Study Scholarship for two courses
                         30% off items on our online store: promallshop.com 
                         Certificate
                         Project Published on all Social media and websites.
                       </p>
                     </div>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                   <div class="member">
                     <img src="./assets/img/awards/secondary2.png" class="img-fluid award-img" alt="silver medal">
                     <div class="member-content">
                       <h4>2nd Position</h4>
                       <!-- <span>(2nd position)</span> -->
                       <p>                  
                         One Month Study Scholarship for one course
                         25% off items on our online store: promallshop.com 
                         Certificate
                         Project Published on all Social media and websites.
                       </p>
                     </div>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                   <div class="member">
                     <img src="./assets/img/awards/secondary3.png" class="img-fluid award-img" alt="bronze medal">
                     <div class="member-content">
                       <h4>3rd Position</h4>
                       <!-- <span>(3rd position)</span> -->
                       <p>
                         Two weeks  Study Scholarship for one course
                         20% off items on our online store: promallshop.com 
                         Certificate
                         Project Published on all Social media and websites
                       </p>
                     </div>
                   </div>
                 </div>
       
               </div>
           </div>
           </div>
           
   
         </div>
       </section><!-- End Trainers Section -->

      </div>
      <div class="text-center " data-aos="zoom-in" data-aos-delay="100" >
        <a href="./register" class="get-started-btn main-reg">Get Started</a>
      </div>
    </div>
    </section><!-- End About Section -->
   

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Competitions</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awardees'</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
    <!-- ======= FAQs ======= -->
    <section id="trainers " class="trainers FAQs">
         <div class="container wrapper" data-aos="fade-up" id="FAQs">
             
                   <div class="awards-medal" id="primary">
                       <div class="row" data-aos="zoom-in" data-aos-delay="100" >
                         <h2 class="award-type">Frequently Asked Questions <span class="FAQs-type ">FAQs</span> </h2>
                         
                          <div class="col-lg-12 col-md-6 align-items-stretch">
                           <h4>General FAQs:</h4>
                              <div class="faq active">
                                 <button class="accordion">
                                   What is iSPACE Virtual Competition?
                                     <i class="fa-solid fa-arrow-down"></i>
                                 </button>
                                 <div class="pannel">
                                     <p>
                                        iSPACE Virtual Competition is an online platform designed for kids to participate in coding and graphic design challenges in a fun and educational environment
                                     </p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-12 col-md-6 align-items-stretch">
                               <div class="faq active">
                                  <button class="accordion">
                                   Who can participate in iSPACE Virtual Competition?
                                      <i class="fa-solid fa-arrow-down"></i>
                                  </button>
                                  <div class="pannel">
                                      <p>
                                       iSPACE Virtual Competition is open to students in lower, middle, and upper grades who have an interest in coding and graphic design.
                                      </p>
                                  </div>
                               </div>
                            </div>      
                            <div class="col-lg-12 col-md-6 align-items-stretch">
                               <div class="faq active">
                                  <button class="accordion">
                                   How do I register my child for the competition?
                                      <i class="fa-solid fa-arrow-down"></i>
                                  </button>
                                  <div class="pannel">
                                      <p>
                                       Registration details and instructions can be found on our website. Follow the registration process to enroll your child.
                                      </p>
                                  </div>
                               </div>
                            </div>      
                            <div class="col-lg-12 col-md-6 align-items-stretch">
                               <div class="faq active">
                                  <button class="accordion">
                                   What coding languages are used in the competition?
                                      <i class="fa-solid fa-arrow-down"></i>
                                  </button>
                                  <div class="pannel">
                                      <p>
                                       The competition covers a range of coding languages suitable for different grade levels, ensuring an inclusive and engaging experience.
                                      </p>
                                  </div>
                               </div>
                            </div>          
                            <div class="col-lg-12 col-md-6 align-items-stretch">
                             <div class="faq active">
                                <button class="accordion">
                                 Do I need any special software or equipment for the competition?
                                    <i class="fa-solid fa-arrow-down"></i>
                                </button>
                                <div class="pannel">
                                    <p>
                                     The requirements vary based on the competition category. Detailed specifications will be provided upon registration.
                                    </p>
                                </div>
                             </div>
                          </div>
   
                          <!-- coding-------------------------------------------- -->
   
                          <h4>Coding Competition FAQs</h4>   
   
                          <div class="col-lg-12 col-md-6 align-items-stretch">
                           <div class="faq active">
                              <button class="accordion">
                               What coding challenges are included in the competition?
                                  <i class="fa-solid fa-arrow-down"></i>
                              </button>
                              <div class="pannel">
                                  <p>
                                   The coding challenges cover a variety of topics, from basic programming concepts for lower grades to more advanced coding tasks for upper grades.
                                  </p>
                              </div>
                           </div>
                        </div>          
                        <div class="col-lg-12 col-md-6 align-items-stretch">
                         <div class="faq active">
                            <button class="accordion">
                             Are there practice materials available for participants?
                                <i class="fa-solid fa-arrow-down"></i>
                            </button>
                            <div class="pannel">
                                <p>
                                 Yes, we provide practice materials and resources to help participants prepare for the coding challenges.
                                </p>
                            </div>
                         </div>
                      </div>          
                      <div class="col-lg-12 col-md-6 align-items-stretch">
                       <div class="faq active">
                          <button class="accordion">
                           How will the coding submissions be evaluated?
                              <i class="fa-solid fa-arrow-down"></i>
                          </button>
                          <div class="pannel">
                              <p>
                               Coding submissions will be evaluated based on factors such as functionality, creativity, and adherence to coding principles.
                              </p>
                          </div>
                       </div>
                    </div> 
                    <!-- ----------graphic------------------------------------- -->
   
                    <h4>Graphic Design Competition FAQs:</h4>
   
                    <div class="col-lg-12 col-md-6 align-items-stretch">
                     <div class="faq active">
                        <button class="accordion">
                         What graphic design tools are recommended for the competition?
                            <i class="fa-solid fa-arrow-down"></i>
                        </button>
                        <div class="pannel">
                            <p>
                             Participants can use a variety of graphic design tools. We recommend tools suitable for different age groups, ensuring accessibility.
                            </p>
                        </div>
                     </div>
                  </div>          
                  <div class="col-lg-12 col-md-6 align-items-stretch">
                   <div class="faq active">
                      <button class="accordion">
                          Are there themes for the graphic design challenges?
                          <i class="fa-solid fa-arrow-down"></i>
                      </button>
                      <div class="pannel">
                          <p>
                           Yes, each graphic design challenge may have a specific theme or prompt. This information will be provided in advance.
                          </p>
                      </div>
                   </div>
                </div>      
                <div class="col-lg-12 col-md-6 align-items-stretch">
                 <div class="faq active">
                    <button class="accordion">
                     Can students collaborate on graphic design projects?
                        <i class="fa-solid fa-arrow-down"></i>
                    </button>
                    <div class="pannel">
                        <p>
                         Collaboration policies vary based on competition categories. Please refer to the competition guidelines for details.
                        </p>
                    </div>
                 </div>
              </div> 
              <!-- ------------ technical---------------------------- -->
              <h4> Technical Support FAQs:</h4>
              
              <div class="col-lg-12 col-md-6 align-items-stretch">
               <div class="faq active">
                  <button class="accordion">
                   What if my child encounters technical issues during the competition?
                      <i class="fa-solid fa-arrow-down"></i>
                  </button>
                  <div class="pannel">
                      <p>
                       We have a dedicated technical support team available to assist participants. Contact details will be provided closer to the competition dates.
                      </p>
                  </div>
               </div>
            </div>  
            <div class="col-lg-12 col-md-6 align-items-stretch">
             <div class="faq active">
                <button class="accordion">
                 Is there a helpline for parents who need assistance with the registration process?
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
                <div class="pannel">
                    <p>
                      Yes, we offer a helpline to assist parents with any registration-related queries. Contact details can be found on the website.
                    </p>
                </div>
             </div>
          </div>  
          
              
              <!-- -------------------results---------- -->
              <h4>Results and Recognition FAQs:</h4>
          <div class="col-lg-12 col-md-6 align-items-stretch">
           <div class="faq active">
              <button class="accordion">
               How and when will the competition results be announced?
                  <i class="fa-solid fa-arrow-down"></i>
              </button>
              <div class="pannel">
                  <p>
                   The results will be announced on our website, and participants will also be notified through email. The announcement date will be communicated in advance.
                  </p>
              </div>
           </div>
        </div>  
        <div class="col-lg-12 col-md-6 align-items-stretch">
         <div class="faq active">
            <button class="accordion">
             What kind of recognition or awards are provided to winners?
                <i class="fa-solid fa-arrow-down"></i>
            </button>
            <div class="pannel">
                <p>
                 Winners will receive certificates and may have the opportunity for featured recognition on our website and social media platforms.
                </p>
            </div>
         </div>
      </div>        
                       </div>
                   </div>
   
           </div>
       </section><!-- End Trainers Section -->
   

    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials"> -->
      <!-- <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>--->
            <!-- < ----End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
           </div>---->
           <!-- End testimonial item  -->
<!-- 
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>  -->
            <!-- End testimonial item -->

            <!-- <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div> -->
            <!-- End testimonial item -->

            <!-- <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div> -->
            <!-- End testimonial item -->

          <!-- </div>
          <div class="swiper-pagination"></div>
        </div> -->

      <!-- </div> -->
    <!-- </section> -->
    
    <!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact footer-links">
            <h3>iSPACE</h3>
            <p>The Proxynet House, 5B Adedeji close,<br> off Opebi road,<br> Ikeja ,<br> Lagos
            <br>
            <strong>Phone:</strong><a href="tel:+234 8124019660" style="color:#444444;">+234 8124019660</a><br>
            <strong>Email:</strong> <a href="mailto:info@proxynetgroup.com " style="color:#444444;" >info@proxynetgroup.com </a></p>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="./contact">More Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="./index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="./about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="./events">Competitions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="./competitions-details">Terms of service</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Competitions</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="./coding-details">Coding</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="./competitions-details">Robotics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="./design-details">Graphic Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="./mobile-details">Mobile Development</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Be the first to get updated on the new up-coming competition</p>
            <form action="mailto:info@proxynetgroup.com" method="post">
              <input placeholder="Enter email" type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Proxynet Communications</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/ISPACECLUB1" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <a href="https://instagram.com/ispaceclub" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#header" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>